nav {
  .navbar-brand {
    .img-profile {
      max-width: 6rem;
      max-height: 6rem;
      border: 0.2rem solid fade-out($white, 0.8);
    }
  }
  .social-icons {
    margin-right: 2rem;
  }
}


