---
# this is an empty front matter for all your include needs 
---
{% include header.html %}
  
  <!--About Me / Contact Module-->
  {% include /modules/about_me.html %}

  <hr class="m-0">

  <!--Experience Module-->
  {% include /modules/experience.html %}

  <hr class="m-0">

  <!--Education Module-->
  {% include /modules/education.html %}

  <hr class="m-0">

  <!--Skills Module-->
  {% include /modules/skills.html %}
  <a href="javascript:" id="return-to-top"><i class="fas fa-chevron-up"></i></a>
{% include footer.html %}
