<section class="resume-section p-3 p-lg-5 d-column" id="about">
  <div class="my-auto">
    <h1 class="mb-0">
      Zachary Smith
    </h1>
    <div class="subheading mb-5">Developer | Designer | Scrum Master</div>
    <p class="lead mb-5">“Certified Scrum Master with an innate passion for building relationships, executing administrative tasks and applying valuable business knowledge to a growing company.  A self-starter with strong people skills and a proven ability to multi-task in a fast-paced environment.</p>
  </div>
  
  <h4 class="mb-1">Contact Me</h4>
  <form action="https://formspree.io/iamzsmith11@gmail.com" method="POST">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <input type="text" class="form-control" id="yourName"  name="yourName" aria-describedby="yourName" placeholder="Your Name">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <input type="email" class="form-control" id="yourEmail"  name="yourEmail" aria-describedby="yourEmail" placeholder="Your Email">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <textarea type="textarea" class="form-control" id="yourMessage"  name="yourMessage" aria-describedby="yourMessage" placeholder="Your Message" rows="6"></textarea>
        </div>
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
</section>