<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
  <div class="my-auto">
    <h2 class="mb-5">Education</h2>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Berklee School of Music</h3>
        <div class="subheading">Masters Certification in Music Business</div>
        <div class="subheading mb-3">- Currently Attending -</div>
      </div>
      <div class="resume-date text-md-right">
        <img class="img-fluid school-logo mx-auto" src="img/berklee.png" alt="Berklee">
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Scrum Alliance</h3>
        <div class="subheading">Certified Scrum Master</div>
        <div class="subheading mb-3">- June 2018 -</div>
      </div>
      <div class="resume-date text-md-right">
        <img class="img-fluid school-logo mx-auto" src="img/scrum.jpg" alt="Scrum Alliance">
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">W3 Schools</h3>
        <div class="subheading">Javascript Certification</div>
        <div class="subheading mb-3">- February 2017 -</div>
      </div>
      <div class="resume-date text-md-right">
         <img class="img-fluid school-logo mx-auto" src="img/w3schools_logo.png" alt="W3 Schools">
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Lorain County Community College</h3>
        <div class="subheading">Associates of Arts</div>
        <div class="subheading mb-3">- August 2016 - December 2009 -</div>
      </div>
      <div class="resume-date text-md-right">
         <img class="img-fluid school-logo mx-auto" src="img/lccc.png" alt="LCCC">
      </div>
    </div>

  </div>
</section>